In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
sns.set()

In [8]:
os.getcwd()

'C:\\Users\\Nathan\\Desktop\\Github_Portfolio\\nutrition_calculator'

In [9]:
ls C:\Users\Nathan\Desktop\Github_Portfolio\nutrition_calculator\FoodData_Central_foundation_food_csv

 Volume in drive C has no label.
 Volume Serial Number is B223-BA52

 Directory of C:\Users\Nathan\Desktop\Github_Portfolio\nutrition_calculator\FoodData_Central_foundation_food_csv

05/14/2024  09:55 AM    <DIR>          .
05/14/2024  09:55 AM    <DIR>          ..
05/14/2024  09:54 AM                76 .~lock.food_nutrient.csv#
04/05/2024  11:05 AM           139,887 acquisition_samples.csv
04/05/2024  11:05 AM            38,059 agricultural_samples.csv
04/05/2024  11:12 AM            36,563 Download API Field Descriptions.xlsx
04/05/2024  11:13 AM         5,314,559 food.csv
04/05/2024  11:13 AM           419,476 food_attribute.csv
04/05/2024  11:09 AM               331 food_attribute_type.csv
04/05/2024  11:13 AM             9,030 food_calorie_conversion_factor.csv
04/25/2024  06:48 AM               997 food_category.csv
04/05/2024  11:13 AM           158,565 food_component.csv
05/14/2024  09:53 AM         8,964,234 food_nutrient.csv
04/05/2024  11:13 AM           193,676 food_nutrient_conversion_factor.csv
04/16/2024  01:00 PM           700,843 food_portion.csv
04/05/2024  11:07 AM             4,347 food_protein_conversion_factor.csv
04/05/2024  11:13 AM         3,858,241 food_update_log_entry.csv
04/16/2024  12:56 PM            14,396 foundation_food.csv
04/05/2024  11:13 AM           300,065 input_food.csv
04/05/2024  11:08 AM            12,030 lab_method.csv
04/05/2024  11:09 AM             3,856 lab_method_code.csv
04/05/2024  11:09 AM             7,870 lab_method_nutrient.csv
04/05/2024  11:07 AM           745,645 market_acquisition.csv
04/05/2024  11:09 AM             1,955 measure_unit.csv
04/05/2024  11:08 AM            21,568 nutrient.csv
04/05/2024  11:14 AM            31,388 sample_food.csv
04/05/2024  11:13 AM         1,031,151 sub_sample_food.csv
04/05/2024  11:08 AM         4,376,686 sub_sample_result.csv
              26 File(s)     26,385,494 bytes
               2 Dir(s)  312,996,990,976 bytes free

In [144]:
## Explore tables ##

food = pd.read_csv('FoodData_Central_foundation_food_csv/food.csv')
food_att = pd.read_csv('FoodData_Central_foundation_food_csv/food_attribute.csv')
food_cal_conv = pd.read_csv('FoodData_Central_foundation_food_csv/food_calorie_conversion_factor.csv')
food_cat = pd.read_csv('FoodData_Central_foundation_food_csv/food_category.csv')
food_component = pd.read_csv('FoodData_Central_foundation_food_csv/food_component.csv')
food_nutr = pd.read_csv('FoodData_Central_foundation_food_csv/food_nutrient.csv')
food_nutr_conv = pd.read_csv('FoodData_Central_foundation_food_csv/food_nutrient_conversion_factor.csv')
food_portion = pd.read_csv('FoodData_Central_foundation_food_csv/food_portion.csv')
food_protein_conv = pd.read_csv('FoodData_Central_foundation_food_csv/food_protein_conversion_factor.csv')
food_update_log = pd.read_csv('FoodData_Central_foundation_food_csv/food_update_log_entry.csv')
food_foundation = pd.read_csv('FoodData_Central_foundation_food_csv/foundation_food.csv')
input_food = pd.read_csv('FoodData_Central_foundation_food_csv/input_food.csv')
lab_method = pd.read_csv('FoodData_Central_foundation_food_csv/lab_method.csv')
lab_method_code = pd.read_csv('FoodData_Central_foundation_food_csv/lab_method_code.csv')
lab_method_nutrient = pd.read_csv('FoodData_Central_foundation_food_csv/lab_method_nutrient.csv')
nutrient = pd.read_csv('FoodData_Central_foundation_food_csv/nutrient.csv')
sample_food = pd.read_csv('FoodData_Central_foundation_food_csv/sample_food.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [145]:
food.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,319874,sample_food,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
1,319875,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
2,319876,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
3,319877,sub_sample_food,Hummus,16.0,2019-04-01
4,319878,sub_sample_food,Hummus,16.0,2019-04-01

In [146]:
nutrient.head()

     id                               name unit_name  nutrient_nbr   rank
0  2047   Energy (Atwater General Factors)      KCAL         957.0  280.0
1  2048  Energy (Atwater Specific Factors)      KCAL         958.0  290.0
2  1001                             Solids         G         201.0  200.0
3  1002                           Nitrogen         G         202.0  500.0
4  1003                            Protein         G         203.0  600.0

In [147]:
food_nutr.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired
0,2201847,319877,1051,56.30,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2201845,319877,1002,1.28,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2201846,319877,1004,19.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2201844,319877,1007,1.98,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2201852,319878,1091,188.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
## Shaping Matrix of Foods and Their Nutrients ##

# Make a table where nutrients are columns and their amounts are entries
nutr_df = food_nutr.pivot(index='fdc_id', columns='nutrient_id', values = 'amount')

#Combine food names with nutrition info
nutr_df = pd.merge(left = nutr_df, right=food[['fdc_id','description']], on='fdc_id', how='inner') 

# Make NaN's 0's
# nutrient = nutrient.fillna(0)
# nutrient.head()

In [164]:
nutr_df.head()

,fdc_id,1002,1003,1004,1005,1007,1008,1009,1010,1011,...,2058,2059,2060,2061,2062,2063,2065,2066,2069,description
0,319877,1.28,NaN,19.0,NaN,1.98,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hummus
1,319878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hummus
2,319882,1.29,NaN,18.7,NaN,1.99,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hummus
3,319883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hummus
4,319884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hummus

In [151]:
print(len(nutr_df['fdc_id'].unique()), len(nutr_df['description'].unique()))

53558 7222

In [ ]:
# lots of duplicate foods
"""Going to average the nutrients found in duplicate foods for a single description"""
desc = nutr_df.groupby('description')

# Find mean for each food and transpose df
desc_mean = desc.agg(np.std).transpose()
desc_mean = desc_mean.drop('fdc_id', axis=0) # do not need ID mean
# desc_mean.head()

# # Calculate stdev to find groupby outliers
# desc_std = desc.agg(np.std).transpose()
# desc_std = desc_std.drop('fdc_id', axis=0)
# # desc_std['SOY MILK, UNSWEETENED, PLAIN, SHELF STABLE']

whole_eggs = desc_mean[desc_mean['Whole eggs'].notnull()]

In [185]:
def stdev_check(stdev, lvl):
    for std in stdev:
        if std > lvl:
            return 'High'
        else:
            return 'Low'

check_std = desc_std.apply(stdev_check, lvl=1)

In [190]:
type(check_std)

pandas.core.series.Series

In [188]:
# combined_updated = combined.set_index('YEAR')
sns.heatmap(check_std=='High', cbar=False)
plt.show()

IndexError: Inconsistent shape between the condition and the input (got (7221, 1) and (7221,))